<div class="row">
    <h2>Hard & soft skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="100"
          [imageSrc]="'../../../assets/HTML5_logo.png'"
          [showImage]="true"
          [imageWidth]="80"
          [imageHeight]="80"
          [showUnits]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="85"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../../../assets/csslogo.fw.png'"
          [showImage]="true"
          [imageWidth]="70"
          [imageHeight]="70"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="60"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../../../assets/jslogo.png'"
          [showImage]="true"
          [imageWidth]="70"
          [imageHeight]="70"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="60"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../../../assets/PHP-logo.png'"
          [showImage]="true"
          [imageWidth]="70"
          [imageHeight]="70"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="70"
          [radius]="100"
          [showUnits]="false"
          [title]="'Ingles'"
          [titleColor]="'#000'"
          titleFontSize="2em"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="95"
          [radius]="100"
          [showUnits]="false"
          [imageSrc]="'../../../assets/tenEQUIPO.fw.png'"
          [showImage]="true"
          [imageWidth]="150"
          [imageHeight]="150"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
      ></circle-progress>
    </div>

</div>
