<div class="row">
  <h2>Proyectos realizados</h2>

      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
          <h3>Huertas portal sol</h3>
          <p>Pagina web sobre huertas, buenos habitos, calendarios de siembras consejos
            de asociación y todo lo relacionado al cultivo.
          </p>
          <p>Esta web es de mi autoria y empece a desarrollarla en el año 2018, en estos momentos uso
            Worpress, pero la pagina esta en acualizacion. </p>
            <a href="http://huertasportalsol.com.ar/">www.huertasportalsol.com.ar</a>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5 parte2">
          <img src="../../../assets/huertasportalsol.fw.png" alt="web huertas portal sol">
      </div>


</div>
