<div class="row">
  <h2>Experiencia laboral</h2>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li><h3>trabajo 1</h3> - <h4>Años</h4></li>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati optio ab delectus
        molestiae iure? Assumenda minus distinctio illo, quisquam, ad iure nostrum eius pariatur
        quam animi, itaque libero soluta id!</p>
        <li><h3>trabajo 2</h3> - <h4>Años</h4></li>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati optio ab delectus
          molestiae iure? Assumenda minus distinctio illo, quisquam, ad iure nostrum eius pariatur
          quam animi, itaque libero soluta id!</p>
          <li><h3>trabajo 3</h3> - <h4>Años</h4></li>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati optio ab delectus
            molestiae iure? Assumenda minus distinctio illo, quisquam, ad iure nostrum eius pariatur
            quam animi, itaque libero soluta id!</p>

    </ul>

  </div>
</div>
